header, footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    ul
    {
        list-style-type: none;
        display: flex;
        li
        {
            padding: 4px 14px;
        }
    }
}
body
{
    padding: 0px 14px;
}